& {
    position: relative;
    box-sizing: border-box;
}

.complete-container {
    box-sizing: border-box;
    position: absolute;
    background: white;
    z-index: 1;
    left: 0;
    top: 33px;
    display: none;
    border: 1px solid #cfdadd;
    .item {
        padding: 5px 10px;
        cursor: pointer;
        &:hover:not(.active) {
            background: whitesmoke;
            color: #1c9aa0;
        }
        &.active {
            background: whitesmoke;
            color: #1c9aa0;
        }
        &:not(.active) {
            .highlight {
                color: red;
            }
        }
    }
}